<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Red+Hat+Text|Red+Hat+Display">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<title>Home | litaikyokushogi.onrender.com</title>

<body>
	<div id="removeWhiteBorderWhenBlurring" style={container_style+current_blur_style}></div>
</body>
<div id="siteContainer" style={container_style+current_blur_style}>
	<div id="navContainer"><nav>
		<section id="leftNav">
			<a href="/" class="navLink"><h1 id="siteTitle">litaikyokushogi<span id="siteTitleEnd">.onrender.com</span></h1></a>
		</section>
		<section id="midNav">
			<div class="buttonAndPopUpContainer">
				<a href="/" class="navLink"><h2 class="navButton">PLAY</h2></a>
				<div class="popupContainer">
					<div id="playPopup" class="popup">
						<button class="popupButton" on:click={createAGameOnClick}>
							<div class="popupTextContainer">
								<p class="popupText">Create a game</p>
							</div>
						</button>
						<button class="popupButton">
							<div class="popupTextContainer">
								<p class="popupText">Play with friends</p>
							</div>
						</button>
						<button class="popupButton">
							<div class="popupTextContainer">
								<p class="popupText">Play with the computer</p>
							</div>
						</button>
					</div>
				</div>
			</div>
			<a href="/" class="navLink"><h2 class="navButton">LEARN</h2></a>
			<a href="/" class="navLink"><h2 class="navButton">WATCH</h2></a>
			<a href="/" class="navLink"><h2 class="navButton">TOOLS</h2></a>
		</section>
		<section id="rightNav">
			<a href="/" class="navLink">
				<h2 class="navButton">
					<span class="material-symbols-outlined">
					search
					</span>
				</h2>
			</a>
			<a href="/" class="navLink">
				<h2 class="navButton">
					<span class="material-symbols-outlined">
					settings
					</span>
				</h2>
			</a>
			{#if data.username == null}
				<a href="/" id="username" class="navLink"><h2 class="navButton">sign in</h2></a>
			{:else}
				<div class="buttonAndPopUpContainer">
					<a href="/users/{data.username}" id="username" class="navLink">
						<h2 class="navButton usernameText">{data.username}</h2>
					</a>
					<div class="popupContainer">
						<div class="popup" id="usernameButtonPopup">
							<a href="/users/{data.username}">
								<div class="popupTextContainer">
									<span class="material-symbols-outlined popupSymbol">person</span>
									<p class="popupText">Profile</p>
								</div>
							</a>
							<form method="POST" action="/logout">
								<button class="popupButton">
									<div class="popupTextContainer">
										<span class="material-symbols-outlined popupSymbol">logout</span>
										<p class="popupText">Log Out</p>
									</div>
								</button>
							</form>
						</div>
					</div>
				</div>
			{/if}
		</section>
	</nav></div>
	<slot/>
</div>
<div class="createGameContainer" style={container_style+focused_popup_style}>
	<button class="material-symbols-outlined X" on:click={xOnClick}>close</button>
	<h2 class="createGameHeader">Create a game</h2>
	<hr>
	<div class="createGameLeftAndRightContainer">
		<div class="createGameLeft">
			<p>Time control preset: </p>
			<p>Hours per side: </p>
			<p>Minutes per side: </p>
			<p>Increment in seconds: </p>
			<hr>
			<p>Rated?</p>
		</div>
		<div class="createGameRight">
			<select bind:this={create_game_select} on:change={createGameSelectOnChange}>
				<option value="Classical">Classical</option>
				<option value="Rapid">Rapid</option>
				<option value="Blitz">Blitz</option>
				<option value="Bullet">Bullet</option>
				<option value="UltraBullet">UltraBullet</option>
				<option value="SuperBullet">SuperBullet</option>
				<option value="HyperBullet">HyperBullet</option>
				<option value="ExtremeBullet">ExtremeBullet</option>
			</select>
			<input bind:value={hours_per_side}>
			<input bind:value={minutes_per_side}>
			<input bind:value={increment_in_seconds}>
			<hr>
			<button class="checkboxButton" on:click={checkboxOnClick}><div class="material-symbols-outlined checkbox" bind:this={game_is_rated}>check</div></button>
		</div>
	</div>
	<hr>
	<button on:click={createGameOnClick}>Create Game</button>
</div>

<script lang="ts">
	import type {PageData} from './$types';

	import {onMount} from 'svelte';

	export let data: PageData;

	// same json as lichess prettier
	type Theme = {
		primaryColor: string,
		secondaryColor: string,
		tertiaryColor: string,
		backgroundColor: string,
		surfaceColor: string,
		surfaceColorHover: string,
		defaultWhite: string,
		textColor: string,
		arrowPrimary: string,
		arrowSecondary: string,
		arrowTertiary: string,
		arrowAlternate: string,
		lastMove: string,
		preMove: string,
		moveIndicator: string,
		boardDark: string,
		boardLight: string
	}

	let theme: Theme;

	let container_style: string = "";

	let hours_per_side = "24";
	let minutes_per_side = "0";
	let increment_in_seconds = "300";
	let game_is_rated: HTMLDivElement;

	let blur_style_to_use = "filter: blur(10px); pointer-events: none"
	let current_blur_style = "";
	let focused_popup_style = "";


	onMount(()=> {
		createGameSelectOnChange();
	});
	
	function loadTheme() {
		theme = data.theme;

		// construct style to apply CSS colors
		container_style = "";
		for (const key in theme) {
			let theme_var = "--theme" + key[0].toUpperCase()+key.slice(1);
			let index = key as keyof Theme;
			container_style += theme_var + ": " + theme[index] + ";\n";
		}
	}
	loadTheme();
	
	function createAGameOnClick() {
		current_blur_style = blur_style_to_use;
		focused_popup_style="--focusCreateAGame: 1";
	}
	function xOnClick() {
		current_blur_style = "";
		focused_popup_style="";
	}
	function checkboxOnClick(argument: MouseEvent) {
		if (argument.target == null) {
			return;
		}
		// @ts-ignore
		const text = argument.target.innerText;
		if (text == "check") {
			// @ts-ignore
			argument.target.innerText = "";
		} else {
			// @ts-ignore
			argument.target.innerText = "check";
		}
	}
	async function createGameOnClick() {
		current_blur_style = "";
		focused_popup_style="";
		console.log("creating game");
		const send_data = {
			type: "createGame",
			object: {
				hoursPerSide: parseInt(hours_per_side),
				minutesPerSide: parseInt(minutes_per_side),
				incrementInSeconds: parseInt(increment_in_seconds),
				gameIsRated: game_is_rated.innerText == "check",
			},
		};
		fetch("/", {
			method: "POST",
			headers: {
			  "Content-Type": "application/json",
			},
			body: JSON.stringify(send_data),
		});
	}
	
	let create_game_select: HTMLSelectElement;
	function createGameSelectOnChange() {
		switch (create_game_select.value) {
		case "Classical":
			hours_per_side = "8";
			minutes_per_side = "0";
			increment_in_seconds = "15";
			break;
		case "Rapid":
			hours_per_side = "2";
			minutes_per_side = "0";
			increment_in_seconds = "15";
			break;
		case "Blitz":
			hours_per_side = "1";
			minutes_per_side = "0";
			increment_in_seconds = "10";
			break;
		case "Bullet":
			hours_per_side = "0";
			minutes_per_side = "30";
			increment_in_seconds = "5";
			break;
		case "UltraBullet":
			hours_per_side = "0";
			minutes_per_side = "15";
			increment_in_seconds = "2";
			break;
		case "SuperBullet":
			hours_per_side = "0";
			minutes_per_side = "10";
			increment_in_seconds = "1";
			break;
		case "HyperBullet":
			hours_per_side = "0";
			minutes_per_side = "5";
			increment_in_seconds = "0";
			break;
		case "ExtremeBullet":
			hours_per_side = "0";
			minutes_per_side = "1";
			increment_in_seconds = "0";
			break;
		default: console.log("WTF");
		}
	}
</script>

<style>
	* {
		--popupAnimationDuration: 0.25s;
	}
	.material-symbols-outlined {
		font-variation-settings:
			'FILL' 0,
			'wght' 400,
			'GRAD' -25,
			'opsz' 40
	}
	#siteContainer {
		overflow: auto;
		background-color: var(--themeBackgroundColor);
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		margin: 0;
		padding: 0;

		transition: filter 0.30s;
	}
	#siteTitle {
		color: var(--themePrimaryColor);
		font-size: 30px;
		font-family: "Red Hat Display";
		margin: 0;
		padding: 0;
	}
	#siteTitleEnd {
		color: var(--themeDefaultWhite);
	}
	.navLink {
		/*margin: auto;*/
		text-decoration: none;
		vertical-align: middle;
	}
	.navButton {
		color: var(--themeDefaultWhite);
		font-size: 1em;
		letter-spacing: 0.1em;
		font-family: "Red Hat Text";
	}
	nav {
		display: grid;
		grid-template-columns: 33.333% 33.333% 33.333%;
		margin: 0;
	}
	nav > * {
		margin-left: auto;
		margin-right: auto;
	}
	#midNav {
		text-align: center;
		display: flex;
	}
	#rightNav {
		text-align: center;
		display: flex;
	}
	.navButton > * {
		color: var(--themeTextColor);
		vertical-align: middle;
	}
	.usernameText {
		letter-spacing: 0em;
		color: var(--themeTextColor);
		vertical-align: middle;
	}
	p {
		color: var(--themeTextColor);
	}
	#midNav {
		--paddingHorizontalNormal: 0.5em;
		--paddingHorizontalHover: 1.0em;
	}
	#midNav > a,
	#midNav > .buttonAndPopUpContainer {
		border-radius: 2px;
		
		transition-timing-function: ease-out;
		transition-duration: var(--popupAnimationDuration);
		background-color: var(--themeBackgroundColor);
		padding-left: var(--paddingHorizontalNormal);
		padding-right: var(--paddingHorizontalNormal);
	}
	#midNav > a:hover,
	#midNav > .buttonAndPopUpContainer:hover {
		background-color: var(--themeSurfaceColor);
		padding-left: var(--paddingHorizontalHover);
		padding-right: var(--paddingHorizontalHover);
	}
	#rightNav {
		--paddingHorizontalNormal: 0.5em;
		--paddingHorizontalHover: 1.0em;
	}
	#rightNav > a,
	#rightNav > .buttonAndPopUpContainer {
		border-radius: 2px;

		transition-timing-function: ease-out;
		transition-duration: var(--popupAnimationDuration);
		background-color: var(--themeBackgroundColor);
		padding-left: var(--paddingHorizontalNormal);
		padding-right: var(--paddingHorizontalNormal);
	}
	#rightNav > a:hover,
	#rightNav > .buttonAndPopUpContainer:hover {
		background-color: var(--themeSurfaceColor);
		padding-left: var(--paddingHorizontalHover);
		padding-right: var(--paddingHorizontalHover);
	}
	/* numero uno CSS 🔥🔥🔥🔥 */
	.popupContainer {
		position: relative;
		padding-left: 50%;
		
		transition-timing-function: ease-out;
		transition-duration: var(--popupAnimationDuration);
		transform: scale(0.7, 0) translate(0, -0.3em);
		opacity: 0;

		z-index: 1000000 !important;
	}
	#usernameButtonPopup {
		min-width: 10rem;
	}
	.popup {
		position: absolute;
		width: 180%;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		
		transform: translate(-50%, 0);
		background-color: var(--themeSurfaceColor);
		border-radius: 4px;
		border: 2px solid var(--themeSurfaceColorHover);
	}
	#playPopup {
		width: 500%;
	}
	div:hover > .popupContainer {
		transform: scale(1, 1) translate(0, 0.1em);
		opacity: 1;
	}
	.popupTextContainer {
		width: 100%;
		height: 3em;
		background-color: var(--themeSurfaceColor);
		border: none;
		
		display: flex;
		justify-content: start;
		align-items: center;
		flex-direction: row;
		box-sizing: border-box;
		
		transition-timing-function: ease-out;
		transition-duration: var(--popupAnimationDuration);
	}
	.popupTextContainer:first-child {
		padding-left: 1em;
	}
	.popupSymbol {
		color: var(--themeTextColor);
	}
	.popup a {
		text-decoration: none;
	}
	.popupText {
		display: inline-block;
		line-height: normal;
		font-family: "Red Hat Text";
		font-size: 1.2em;
		text-decoration: none;
		color: var(--themeTextColor);
	}
	.popupButton {
		width: 100%;
		border: none;
		margin: 0;
		padding: 0;
		background-color: none;
		outline: none;
		font-size: 1em; /* fuck CSS */
	}
	.popupTextContainer:hover {
		cursor: pointer;
		background-color: var(--themePrimaryColor);
	}
	.popupTextContainer:hover .popupText {
		color: var(--themeSurfaceColor);
	}
	.popupTextContainer:hover .popupSymbol {
		color: var(--themeSurfaceColor);
	}
	.createGameContainer {
		position: fixed;
		z-index: 2;
		width: 40%;
		left: 50%;
		top: 10%;
		padding: 2em;
		transform: translate(-50%, 0) scale(var(--focusCreateAGame, 0));
		background-color: var(--themeSurfaceColor);
		border-radius: 8px;
		border: 2px solid var(--themeSurfaceColorHover);

		transition-duration: 0.3s;
	}
	.createGameHeader {
		font-family: "Red Hat Text";
		font-size: 2em;
		text-align: center;
		color: var(--themePrimaryColor);
	}
	.createGameContainer hr {
		width: 100%;
		padding: none;
		margin: none;
		border: 1px solid var(--themePrimaryColor);
	}
	.createGameLeftAndRightContainer hr {
		margin: 0;
		padding: 0;
		position: relative;
		width: 10000000000%;
		left: -100000%;
	}
	.createGameLeftAndRightContainer > div p {
		display: block;
		height: var(--lineSize);
		margin: 0;
		line-height: var(--lineSize);
		color: var(--themeTextColor);
	}
	.createGameLeftAndRightContainer > div input,
	.createGameLeftAndRightContainer > div select,
	.checkbox {
		background-color: var(--themeBackgroundColor);
		height: var(--lineSize);
		display: block;
		margin: 0;
		color: var(--themeTextColor);
		border: 2px solid var(--themeSurfaceColorHover);
		text-decoration: none;
		outline: none;
	}
	.checkbox {
		user-select: none;
		line-height: var(--lineSize);
		width: var(--lineSize);
		height: var(--lineSize);
		text-align: center;
		font-size: var(--lineSize);
		color: var(--themeSecondaryColor);
	}
	.checkbox:hover {
		cursor: pointer;
	}
	.checkboxButton {
		margin: 0;
		outline: 0;
		padding: 0;
		width: fit-content;
		border: 0;
	}
	.createGameLeftAndRightContainer {
		overflow: hidden;
		display: flex;
		justify-content: space-around;
		--lineSize: 2rem;
	}
	.createGameLeftAndRightContainer > div select {
		height: var(--lineSize);
		margin: 0;
	}
	.createGameLeft, .createGameRight {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	.createGameContainer > button:not(.X){
		margin-top: 2rem;
		width: 100%;
		height: 2em;
		
		font-size: 2em;
		padding: 0.2em;
		border-radius: 4px;
		border: 2px solid var(--themePrimaryColor);
		background-color: var(--themePrimaryColor);
		color: var(--themeBackgroundColor);
		transition: 0.25s;
	}
	.createGameContainer > button:not(.X):hover {
		background-color: var(--themeBackgroundColor);
		color: var(--themePrimaryColor);
	}
	/* 
	 * so blur doesn't result in white borders since edges
	 * are taken into consideration when blurring which
	 * normally are white 
	 */
	#removeWhiteBorderWhenBlurring {
		z-index: -1;
		position: absolute;
		left: -1vw;
		top: -1vw;
		width: 200vw;
		height: 200vh;
		background-color: var(--themeBackgroundColor);
	}
	.X {
		user-select: none;
		position: absolute;
		right: 0;
		top: 0;
		font-size: 2.5em;
		color: var(--themeTertiaryColor);
		background: unset;
		border: 0;
	}
	.X:hover {
		cursor: pointer;
	}
	/*
	.pendingGameButton:hover .pendingPlay {
		font-size: 1.6rem;
		color: var(--themeSecondaryColor);
		border: 0;
	}
	.pendingPlay {
		user-select: none;
		margin: auto;
		color: transparent;
	}
	*/
	form {
		width: 100%;
	}
	input {
		box-sizing: border-box;
	}
	p {
		color: var(--themeTextColor);
	}
	body {
		overflow: hidden;
	}
</style>
