{#if data.username == null}
	<section id="signInArea">
		<h1 id="signInText">Sign in</h1>
		<form method="POST" action="/">
			<label for="username">Username</label>
			<br>
			<input name="username" type="text">
			<br>
			<label for="password">Password</label>
			<br>
			<input name="password" type="password">
			<div id="submitButtonContainer">
				<input type="submit" name="login" value="log in" />
				<input type="submit" name="register" value="register" />
			</div>
		</form>
	</section>
{:else}
	<div id="gameArea">
		<section id="lobbyArea">
			<h1 id="lobbyText">Lobby</h1>
			<hr>
			{#if pending_games.length == 0}
				<br>
				<p>No game in lobby</p>
			{:else}
				<div class="pendingGameGrid pendingGameGridTop">
					<p>Player</p>
					<p>Rating</p>
					<p>Mode</p>
					<p>Time</p>
				</div>
				<div class="pendingGameBr" />
				{#each pending_games as game, i}
					<button id="{i}_lobbyGameButton" class="pendingGameActualButton" on:click={lobbyGameOnClick}>
						<div class="pendingGameGrid pendingGameButton">
							<p>{game.player}</p>
							<p>{game.playerRating}</p>
							{#if game.gameIsRated}
								<p>Rated</p>
							{:else}
								<p>Casual</p>
							{/if}
							<p>{game.hoursPerSide}:{game.minutesPerSide}+{game.incrementInSeconds}</p>
							{#if game.player == data.username}
								<div class="material-symbols-outlined spinner">close</div>
							<!-- Not sure about this
							{:else}
								<div class="material-symbols-outlined pendingPlay">play_arrow</div>
							-->
							{/if}
						</div>
					</button>
					<div class="pendingGameBr" />
				{/each}
				<hr>
			{/if}
		</section>
	</div>
{/if}

<script lang="ts">
	import type {PendingGame} from "$lib/types";
	import type {PageData} from './$types';

	import {onMount} from 'svelte';

	export let data: PageData;
	
	let pending_games: Array<PendingGame> = [];
	
	onMount(()=> {
		setInterval(async () => {
			fetchDynamicContent();
		}, 1000);
		fetchDynamicContent();
	});

	async function fetchDynamicContent() {
		let object = await (await fetch("/")).json();
		if (object.yourGameId != null) {
			location.href += "games/"+object.yourGameId;
		}
		pending_games = object.pendingGames;
	}

	async function lobbyGameOnClick(event: MouseEvent) {
		// @ts-ignore
		const str = event.target.parentElement.parentElement.id;
		const index = str.slice(0, 1);
		
		if (pending_games[index].player == data.username) {
			const send_data = {
				type: "cancelPendingGame",
				object: {
					id: pending_games[index].id,
				},
			};
			pending_games.splice(index, 1);
			pending_games = [...pending_games];
			fetch("/", {
				method: "POST",
				headers: {
				  "Content-Type": "application/json",
				},
				body: JSON.stringify(send_data),
			});
	 	} else {
			const send_data = {
				type: "joinPendingGame",
				object: {
					id: pending_games[index].id,
				},
			};
			const result = await (await fetch("/", {
				method: "POST",
				headers: {
				  "Content-Type": "application/json",
				},
				body: JSON.stringify(send_data),
			})).text();
			if (result != "failure") {
				location.href += "games/"+result;
			}
		}
	}
</script>
<style>
	#signInArea {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		background-color: var(--themeSurfaceColor);
		border-radius: 8px;
		border: 2px solid var(--themeSurfaceColorHover);
		margin: auto;
		padding: 3em;
	}
	#signInText {
		color: var(--themeTextColor);
		font-weight: bold;
		font-size: 2em;
	}
	form > input[type=text], input[type=password] {
		width: 100%;
		margin-bottom: 2em;
		background-color: var(--themeBackgroundColor);
		outline: none;
		border-radius: 2px;
		border: 2px solid var(--themeSurfaceColorHover);
		font-size: 1.5em;
		padding: 0.4em;
		color: var(--themeDefaultWhite);
	}
	form > label {
		color: var(--themeTextColor);
		font-weight: bold;
	}
	form {
		width: 100%;
	}
	#submitButtonContainer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		--animationTime: 0.35s;
	}
	#submitButtonContainer > input[type=submit] {
		width: 45%;
		font-size: 2em;
		padding: 0.2em;
		border-radius: 4px;
		border: 2px solid var(--themePrimaryColor);
		
		animation: onNotHover var(--animationTime);
		animation-fill-mode: forwards;
		background-color: var(--themePrimaryColor);
		color: var(--themeBackgroundColor);
	}
	#submitButtonContainer > input[type=submit]:hover {
		/*background-color: var(--themeBackgroundColor);*/
		animation: onHover var(--animationTime);
		animation-fill-mode: forwards;
	}
	input {
		box-sizing: border-box;
	}
	#lobbyArea {
		margin-left: auto;
		margin-right: auto;
		margin-top: 2em;
		background-color: var(--themeSurfaceColor);
		border-radius: 8px;
		border: 2px solid var(--themeSurfaceColorHover);
		padding: 3em;
		box-sizing: border-box;
		width: 50vw;
	}
	#lobbyText {
		color: var(--themePrimaryColor);
	}
	#lobbyArea > hr {
		padding: none;
		margin: none;
		border: 1px solid var(--themePrimaryColor);
	}
	.pendingGameGrid {
		display: grid;
		grid-template-columns: 35% 15% 20% 20% 10%;
	}
	.pendingGameGrid > * {
		overflow: hidden;
	}
	.pendingGameBr {
		margin: 0;
		padding: 0;
		width: 100%;
		/*height: 2px;*/
		/*background-color: #282A36;*/
	}
	.pendingGameGridTop > p {
		margin-left: auto;
		margin-right: auto;
		color: #F8F8F2;
	}
	.pendingGameActualButton {
		margin: 0;
		padding: 0;
		width: 100%;
		border: 0;
		background-color: #00000000;
	}
	.pendingGameButton:hover {
		cursor: pointer;
		background-color: var(--themeSurfaceColorHover);
		border-radius: 2px;
	}
	.pendingGameGrid > * {
		font-size: 1.4rem;
		margin: 0;
		margin-top: 0.1rem;
		margin-bottom: 0.1rem;
	}
	.pendingGameButton:hover .spinner {
		width: unset;
		height: unset;
		font-size: 1.6rem;
		color: var(--themeTertiaryColor);
		border: 0;
		animation: none;
	}
	.spinner {
		user-select: none;
		width: 1.0rem;
		height: 1.0rem;
		border-radius: 50%;
		border: 3px solid white;
		margin: auto;
		border-color: var(--themeSecondaryColor) transparent var(--themeSecondaryColor) transparent;
		animation: spinAnimation 1.0s linear infinite;
		color: transparent; /* CSS 🔥🔥🔥🔥 */
	}
	@keyframes onHover {
		from {
			background-color: var(--themePrimaryColor);
			color: var(--themeBackgroundColor);
		} to {
			background-color: var(--themeBackgroundColor);
			color: var(--themePrimaryColor);
		}
	}
	@keyframes onNotHover {
		from {
			background-color: var(--themeBackgroundColor);
			color: var(--themePrimaryColor);
		}
		to {
			background-color: var(--themePrimaryColor);
			color: var(--themeBackgroundColor);
		}
	}
	p {
		color: var(--themeTextColor);
	}
	@keyframes spinAnimation {
		from {
			transform: rotate(0deg);
		} to {
			transform: rotate(360deg);
		}
	}
</style>
