<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
{#if game_over_data.playEffects}
<div id="winEffects">
	<div class="explosionContainer winner{game_over_data.effectSide}">
		<video autoplay loop>
			<track kind="captions">
			<source src="/explosion.webm" type="video/webm">
		</video>
		<button on:click={() => {game_over_data.playEffects = false;}}>X</button>
	</div>
</div>
{/if}
<div id="space" style={set_cursor_style}>
	<div id="mainContainer">
		<div id="left" class="panel">
			<div>
				<div id="names">
					<div class="blackCircle" /><p>{data.sente}</p>
					<br>
					<div class="whiteCircle" /><p>{data.gote}</p>
				</div>
				{#if game_over_data.is_game_over}
					<p id="gameOverMessage">{game_over_data.message}</p>
				{/if}
				<hr>
			</div>
			<div id="chatArea" bind:this={chat_area}>
				{#each chats as chat}
					<div class="chatMessage">
						<p class="usernameChatMsg">{chat.username}:</p>
						{#if chat.type == "image"}
							<br>
							<img src={chat.str} alt="{chat.str}">
						{:else if chat.type == "video"}
							<video autoplay controls>
								<track kind="captions">
								<source src="{chat.str}" type="video/webm">
							</video>
						{:else}
						<p>{chat.str}</p>
						{/if}
					</div>
				{/each}
			</div>
			<div id="chatBox">
				<input type="text" placeholder="Be epic in the chat!" bind:this={chat_box_node}>
			</div>
		</div>
		<div id="boardContainerContainer" bind:this={the_epic_container}>
			<div id="staticPiecesContainer">
				{#each static_pieces as piece, i}
					<button id="piece_{i}" style="--x-pos: calc({piece.x}); --y-pos: calc({piece.y});" class="piece staticPiece {piece.side} {piece.promoted ? "promotedPiece" : ""}" on:mousedown={pieceOnMouseDown} on:contextmenu={pieceOnRightClick}>
						<p>{piece.name}</p>
					</button>
				{/each}
			</div>
			<div id="legalMoveContainer">
				{#each highlighted_legal_moves as legal_move}
					<div class="highlightedLegalMove" style="--x-pos: calc({legal_move.x}); --y-pos: calc({legal_move.y});">
						<div />
					</div>
				{/each}
			</div>
			{#if piece_name_data.show}
				<div id="pieceNameContainer" style="margin-left: {piece_name_data.x}px; margin-top: {piece_name_data.y}px">
					<p>{piece_name_data.name}</p>
				</div>
			{/if}
			<div id="boardContainer">
				{#each {length: 36 * 36} as _, i}
					<div class="square" id="square{i}" bind:this={squares[i]}></div>
				{/each}
			</div>
			{#if moving_piece_src_square != not_moving}
				<div id="dynamicPiece" class="piece dynamicPiece" bind:this={dynamic_piece} style={dynamic_piece_style}> 
					<p>{dynamic_piece_kanji}</p>
				</div>
			{/if}
		</div>
		<div id="right" class="panel">
			<div class="timeContainer {timedata.enemyClass}">
				<p>{timedata.enemyTime}</p>
			</div>
			<!--<hr>-->
			<div id="moveContainer" bind:this={move_container}>
				<!--<h2 style="text-align: center;">Epic moves of history</h2>-->
				{#each shown_move_list_array as moves, i}
					<!--<p>{i+1}: {moves[0]} {moves[1] ?? ""}</p>-->
					<div class="moveNumber"><p>{i+1}.</p></div>
					<!-- svelte-ignore a11y-click-events-have-key-events-->
					<!-- svelte-ignore a11y-no-static-element-interactions-->
					<div class="theMove" on:click={() => {goToOldMove(i*2+1)}}><p>{moves[0]}</div>
					{#if moves[1]}
					<!-- svelte-ignore a11y-click-events-have-key-events-->
					<!-- svelte-ignore a11y-no-static-element-interactions-->
					<div class="theMove" on:click={() => {goToOldMove(i*2+2)}}><p>{moves[1]}</div>
					{:else}
						<div />
					{/if}
				{/each}
			</div>
			<!--<hr>-->
			<div class="timeContainer {timedata.yourClass}">
				<p>{timedata.yourTime}</p>
			</div>
		</div>
	</div>
</div>

<script lang="ts">
	import type {PageData} from './$types';
	export let data: PageData;

	import {initWasm, zigByteSliceToBuffer} from "$lib/wasm";
	import type {DynamicObject} from "$lib/wasm";

	type ChatMessage = {
		id: number,
		username: string,
		str: string,
		type: string,
	};

	type Piece = {
		side: string,
		name: string,
		x: number,
		y: number,
		promoted: boolean,
	};

	type HighlightedLegalMove = {
		x: number,
		y: number,
		// TODO: special
	};

	let timedata = {
		// at last move
		lastMoveAt: data.lastMoveAt,
		senteTime: data.senteTime,
		goteTime: data.goteTime,
		// real time, whats displayed
		enemyTime: "00:00:00.000",
		yourTime: "00:00:00.000",

		enemyClass: "",
		yourClass: "yourMove",
	};

	let game_over_data = {
		is_game_over: false,
		winner: "sente",
		message: "sente won on time",
		playEffects: false,
		effectSide: "below",
	};

	// when right clicking, this is shown
	let piece_name_data = {
		show: false,
		x: 0,
		y: 0,
		name: "Epic",
		square: 0,
	};

	let highlighted_legal_moves: Array<HighlightedLegalMove> = [];
	
	let shown_move_list_array: Array<[number, number | null]> = [];

	let the_epic_container: HTMLDivElement;
	let move_container: HTMLDivElement;
	let chat_area: HTMLDivElement;

	let static_pieces: Array<Piece> = [];

	let squares: Array<HTMLDivElement> = [];
	squares.length = 36*36;

	const not_moving = 65535;
	let moving_piece_src_square: number = not_moving;

	let dynamic_piece_kanji: string = "";
	let dynamic_piece: HTMLDivElement;
	let dynamic_piece_style: string = "";

	let side = "";
	if (data.sente == data.username) {
		side = "sente";
	} else if (data.gote == data.username) {
		side = "gote";
	}

	let zig_board_array_ptr: number = 0;

	function unicodeSplit(str: string) {
		const arr = [];
		for(const char of str) {
			arr.push(char)
		}
	   
		return arr;
	}

	function pieceOnMouseDown(event: MouseEvent) {
		if (event.buttons & 2) {
			return;
		}
		if (move_buffer_curr != move_buffer_updated_constant) {
			ensureNewestMove();
			return;
		}
		if (game_over_data.is_game_over) {
			return;
		}
		if (side != "sente" && side != "gote") {
			// spectators can't move
			return;
		}
		// if not your turn: BOOOO
		let side_num = side == "sente" ? 0 : 1;
		let side_curr = move_buffer_len & 1;
		if (side_num != side_curr) {
			return;
		}
		// @ts-ignore
		const index = parseInt(event.target.id.split("_")[1]);
		let square = static_pieces[index].y*36+static_pieces[index].x;
		if (side == "gote") {
			square = (35-static_pieces[index].y)*36+(35-static_pieces[index].x);
		}

		// "gote" everything reverses. So "gote" => "sente"!
		if ("sente" != static_pieces[index].side) {
			return;
		}

		if (second_move_data.is_second_move) {
			if (square != second_move_data.curr) {
				second_move_data.is_second_move = false;
				setupBoard();
				return;
			}
			static_pieces.splice(index);
			static_pieces = [...static_pieces];
			moving_piece_src_square = square;

			highlighted_legal_moves = [];
			let legal_move_buffer_array = new Uint32Array(
				zig_client.memory.buffer,
				legal_move_buffer_ptr,
				8000);
			for (let i = 0; i < legal_move_buffer_len; i++) {
				let move = legal_move_buffer_array[i];
				const move_dst = (move >> 12) & 0b111111111111;
				const move_x = Math.floor(move_dst % 36);
				const move_y = Math.floor(move_dst / 36);
				const is_igui_mask = 0b1 << 24;
				if (move & is_igui_mask) {
					// if move has igui targetting 
					// dst square, second move is possible
					const x = ((move >> 25) & 0b11) - 1;
					const y = ((move >> 27) & 0b11) - 1;

					const midx = move_x + x;
					const midy = move_y + y;

					const midsquare = midy*36 + midx;
					let rotated_x = move_x;
					let rotated_y = move_y;
					if (side == "gote") {
						rotated_x = 35 - rotated_x;
						rotated_y = 35 - rotated_y;
					}
					if (midsquare == square) {
						highlighted_legal_moves.push({
							x: rotated_x,
							y: rotated_y,
						});
					}
				}
			}
			highlighted_legal_moves = [...highlighted_legal_moves];
			// gen the legal
			return;
		}

		if (true) {
			let zig_board_array = new Uint16Array(
					zig_client.memory.buffer, zig_board_array_ptr, 36*36);
			let tmp = zig_board_array[square] & 0b111111111111
			const tmp_dbg = static_pieces[index].y*36+static_pieces[index].x;
			console.log("piece:", pieces[tmp].name, tmp_dbg % 36, Math.floor(tmp_dbg / 36));
		}
		moving_piece_src_square = square;
		const moveCount = zig_client.calculatePieceLegalMoves(
				legal_move_buffer_ptr, square);

		let legal_move_buffer_array = new Uint32Array(
			zig_client.memory.buffer,
			legal_move_buffer_ptr,
			8000);
		legal_move_buffer_len = moveCount;
		//console.log(legal_move_buffer_array.slice(0, legal_move_buffer_len));
		highlighted_legal_moves = [];
		for (let i = 0; i < moveCount; i++) {
			const move = legal_move_buffer_array[i];
			const dst = (move >> 12) & 0b111111111111;
			let dst_x = dst % 36;
			let dst_y = Math.floor(dst / 36);
			if (side == "gote") {
				dst_x = 35 - dst_x;
				dst_y = 35 - dst_y;
			}
			const is_igui_mask = 0b1 << 24;
			if (move & is_igui_mask) {
				// if move has igui targetting 
				// dst square, second move is possible
				const x = ((move >> 25) & 0b11) - 1;
				const y = ((move >> 27) & 0b11) - 1;
				const move_x = Math.floor(dst % 36);
				const move_y = Math.floor(dst / 36);

				let midx = move_x + x;
				let midy = move_y + y;
				if (side == "gote") {
					midx = 35 - midx;
					midy = 35 - midy;
				}
				highlighted_legal_moves.push({x: midx, y: midy});
			} else {
				highlighted_legal_moves.push({x: dst_x, y: dst_y});
			}
		}
		highlighted_legal_moves = [...highlighted_legal_moves];

		setupBoard();
	}

	function pieceOnRightClick(event: MouseEvent) {
		let rect = the_epic_container.getBoundingClientRect();
		let xRelative = event.clientX - rect.x;
		let yRelative = event.clientY - rect.y;
		let squareSize = window.innerWidth*0.5 / 36;
		let x = Math.floor(xRelative/squareSize);
		let y = Math.floor(yRelative/squareSize);
		if (side == "gote") {
			x = 35 - x;
			y = 35 - y;
		}
		const dst_square = 36*y + x;
		let zig_board_array = new Uint16Array(
				zig_client.memory.buffer, zig_board_array_ptr, 36*36);
		const target_piece = zig_board_array[dst_square];
		const target_name = pieces[target_piece & 0b111111111111].name;
		piece_name_data.show = true;
		piece_name_data.square = dst_square;
		piece_name_data.name = target_name;
		event.preventDefault();
	}

	function setupBoard() {
		static_pieces = [];
		let zig_board_array = new Uint16Array(
				zig_client.memory.buffer, zig_board_array_ptr, 36*36);

		let sente_has_king_or_prince = false;
		let gote_has_king_or_prince = false;
		for (let y = 0; y < 36; y++) {
			for (let x = 0; x < 36; x++) {
				const index = 36*y + x;
				if (index == moving_piece_src_square) {
					continue;
				}
				if (zig_board_array[index] != 65535) {
					const type = zig_board_array[index] & 0b11111111111111;
					if ((type == 0 || type == 1)
							&& (zig_board_array[index] & (1 << 15)) == 0) {
						sente_has_king_or_prince = true;
					}
					if ((type == 0 || type == 1)
							&& (zig_board_array[index] & (1 << 15)) > 0) {
						gote_has_king_or_prince = true;
					}
					const piece = pieces[type];
					const vertical_kanji = unicodeSplit(piece.kanji).join("\n");
					let piece_side = "sente";
					if (zig_board_array[index] & (1 << 15)) {
						piece_side = "gote";
					}
					static_pieces.push({
						side: piece_side,
						name: vertical_kanji,
						x: x,
						y: y,
						promoted: (zig_board_array[index] & (1 << 14)) > 0,
					});
				}
			}
		}
		for (let i = 0; i < static_pieces.length; i++) {
			if (side == "gote") {
				let piece_side = static_pieces[i].side;
				piece_side = piece_side == "gote" ? "sente" : "gote";
				static_pieces[i].side = piece_side;
				static_pieces[i].x = 35 - static_pieces[i].x;
				static_pieces[i].y = 35 - static_pieces[i].y;
			}
		}
		static_pieces = [...static_pieces];
		if (sente_has_king_or_prince == false) {
			setGameover("gote", "gote won by taking the opponents royal pieces");
		}
		if (gote_has_king_or_prince == false) {
			setGameover("gote", "gote won by taking the opponents royal pieces");
		}
	}
	
	let destroy_data: any = {is_destroyed: false};

	function updateShownMoveList()
	{
		let move_buffer_array = new Uint32Array(
				zig_client.memory.buffer,
				move_buffer_ptr,
				move_buffer_alloc_len);
		shown_move_list_array = [];
		for (let i = 0; i < move_buffer_len; i+=2) {
			shown_move_list_array.push([
				move_buffer_array[i],
				i+1 < move_buffer_len ? move_buffer_array[i+1] : null,
			]);
		}
		shown_move_list_array = [...shown_move_list_array];

		setTimeout(() => {
			move_container.scrollTo(0, move_container.scrollHeight);
		}, 100);
	}

	let chats: Array<ChatMessage> = [];
	let next_chat = 0;

	let zig_client: DynamicObject;
	let pieces: DynamicObject;

	let set_cursor_style = "";

	// buffer used to get moves (only with left hold) from zig
	let legal_move_buffer_ptr: number = 0;
	let legal_move_buffer_len = 0;
	// allocationSize is 8000

	// buffer used to store past moves
	let move_buffer_ptr: number = 0;
	let move_buffer_len: number = 0;
	let move_buffer_alloc_len: number = 50000; // (real) programming

	// check out old game functionality
	let move_buffer_updated_constant = -1;
	let move_buffer_curr: number = move_buffer_updated_constant;

	function goToOldMove(count: number) {
		if (moving_piece_src_square != not_moving) {
			return;
		}
		move_buffer_curr = count;
		zig_board_array_ptr = zig_client.setGame(move_buffer_ptr, count);
		setupBoard();
	}
	function ensureNewestMove() {
		if (move_buffer_curr == move_buffer_updated_constant) {
			return;
		}
		move_buffer_curr = move_buffer_updated_constant;
		zig_board_array_ptr = zig_client.setGame(move_buffer_ptr, move_buffer_len);
		setupBoard();
	}

	function getTimeStr(time: number) {
		let ms = Math.floor(time * 1000 % 1000);
		let s = Math.floor(time % 60);
		let m = Math.floor(time / 60) % 60;
		let h = Math.floor(time / (60*60)) % 60;
		let ms_s = ""+ms;
		if (ms_s.length == 1) {
			ms_s = "00" + ms_s;
		} else if (ms_s.length == 2) {
			ms_s = "0" + ms_s;
		}
		let s_s = s < 10 ? "0"+s : ""+s;
		let m_s = m < 10 ? "0"+m : ""+m;
		let h_s = h < 10 ? "0"+h : ""+h;
		return h_s + ":" + m_s + ":" + s_s + "." + ms_s;
	}

	// set winner to abort, if abort
	function setGameover(winner: string, message: string) {
		if (game_over_data.is_game_over) {
			return;
		}
		// play epic animations
		game_over_data = {
			is_game_over: true,
			winner,
			message,
			playEffects: true,
			effectSide: winner == side ? "above" : "below",
		};
	}

	let mouse_x: number, mouse_y: number;
	function plsWork() {
		if (dynamic_piece) {
			set_cursor_style = "cursor: grab";
			let size: number = dynamic_piece.getBoundingClientRect().width / 2;
			dynamic_piece_style = "left: " + (mouse_x - size) + "px;" + "top: " + (mouse_y - size) + "px;";
		} else {
			set_cursor_style = "";
		}
		// TODO: if moveCount < 2: display abort timer
		let yourTime, enemyTime;
		if (side == "gote") {
			yourTime = timedata.goteTime;
			enemyTime = timedata.senteTime;
		} else {
			yourTime = timedata.senteTime;
			enemyTime = timedata.goteTime;
		}
		let yourId = side == "gote" ? 1 : 0;
		if (move_buffer_len >= 2) { // start subtracting time
			// @ts-ignore
			let subtract = (new Date() - timedata.lastMoveAt) / 1000;
			if ((move_buffer_len & 1) == yourId) {
				yourTime -= subtract;
			} else {
				enemyTime -= subtract;
			}
			if (yourTime < 0) {
				yourTime = 0;
				let enemy_side = side == "sente" ? "gote" : "sente"
				setGameover(enemy_side, enemy_side + " won on time");
			}
			if (enemyTime < 0) {
				enemyTime = 0;
				setGameover(side, side + " won on time");
			}
			timedata.yourTime = getTimeStr(yourTime);
			timedata.enemyTime = getTimeStr(enemyTime);

			if ((move_buffer_len & 1) == yourId) {
				if (yourTime < 20) {
					timedata.yourClass = "noTime";
				} else {
					timedata.yourClass = "yourMove";
				}
				timedata.enemyClass = "";
			} else {
				if (enemyTime < 20) {
					timedata.enemyClass = "noTime";
				} else {
					timedata.enemyClass = "yourMove";
				}
				timedata.yourClass = "";
			}
		}

		if (game_over_data.is_game_over) {
			if (game_over_data.winner == "abort") {
				timedata.yourTime = "ABORTED";
				timedata.enemyTime = "ABORTED";
			} else if (side == game_over_data.winner) {
				timedata.yourTime = "WINNER";
				timedata.enemyTime = "LOSER";
				timedata.yourClass = "yourMove";
				timedata.enemyClass = "noTime";
			} else {
				timedata.yourTime = "LOSER";
				timedata.enemyTime = "WINNER";
				timedata.yourClass = "noTime";
				timedata.enemyClass = "yourMove";
			}
		}

		if (piece_name_data.show) {
			let squareSize = window.innerWidth*0.5 / 36;

			let rx = Math.floor(piece_name_data.square % 36);
			let ry = Math.floor(piece_name_data.square / 36);
			if (side == "gote") {
				rx = 35 - rx;
				ry = 35 - ry;
			}
			piece_name_data.x = squareSize*(rx+0.5);
			piece_name_data.y = squareSize*(ry - 0.5);
		}

		if (!destroy_data.is_destroyed) {
			window.requestAnimationFrame(plsWork);
		}
	}
	let second_move_data = {
		is_second_move: false,
		from: 0,
		curr: 0,
	};

	let chat_box_node: HTMLInputElement;
	import {onMount, onDestroy} from 'svelte';
	onMount(async () => {
		document.addEventListener("keydown", (event) => {
			if (event.target == chat_box_node) {
				return;
			}
			if (event.key == "ArrowUp") {
				goToOldMove(0);
				event.preventDefault();
			}
			if (event.key == "ArrowDown") {
				ensureNewestMove();
				event.preventDefault();
			}
			if (event.key == "ArrowLeft") {
				let new_move = Math.max(0,
					move_buffer_curr == -1
						? move_buffer_len - 1
						: move_buffer_curr - 1);
				goToOldMove(new_move);
				event.preventDefault();
			}
			if (event.key == "ArrowRight") {
				let new_move = Math.min(move_buffer_len,
					move_buffer_curr == -1
						? move_buffer_len
						: move_buffer_curr + 1);
				goToOldMove(new_move);
				event.preventDefault();
			}
		});
		document.addEventListener("mouseup", (event) => {
			piece_name_data.show = false;
			if (moving_piece_src_square == not_moving) {
				return;
			}
			if (move_buffer_curr != move_buffer_updated_constant) {
				ensureNewestMove();
				return;
			}
			if (game_over_data.is_game_over) {
				return;
			}
			if (side != "sente" && side != "gote") {
				// spectators can't move
				return;
			}
			// if not your turn: BOOOO
			let side_num = side == "sente" ? 0 : 1;
			let side_curr = move_buffer_len & 1;
			if (side_num != side_curr) {
				return;
			}

			let move_buffer_array = new Uint32Array(
					zig_client.memory.buffer,
					move_buffer_ptr,
					move_buffer_alloc_len);

			highlighted_legal_moves = [];
			if (second_move_data.is_second_move) {
				// check legality
				let rect = the_epic_container.getBoundingClientRect();
				let xRelative = event.clientX - rect.x;
				let yRelative = event.clientY - rect.y;
				let squareSize = window.innerWidth*0.5 / 36;
				let x = Math.floor(xRelative/squareSize);
				let y = Math.floor(yRelative/squareSize);
				if (side == "gote") {
					x = 35 - x;
					y = 35 - y;
				}
				const dst_square = 36*y + x;

				let legal_move_buffer_array = new Uint32Array(
					zig_client.memory.buffer,
					legal_move_buffer_ptr,
					8000);
				let legal_move = 0xFFFFFFFF;
				for (let i = 0; i < legal_move_buffer_len; i++) {
					let move = legal_move_buffer_array[i];
					const move_dst = (move >> 12) & 0b111111111111;
					const is_igui_mask = 0b1 << 24;
					if (move & is_igui_mask) {
						// if move has igui targetting 
						// dst square, second move is possible
						const x = ((move >> 25) & 0b11) - 1;
						const y = ((move >> 27) & 0b11) - 1;
						const move_x = Math.floor(move_dst % 36);
						const move_y = Math.floor(move_dst / 36);

						const midx = move_x + x;
						const midy = move_y + y;

						const midsquare = midy*36 + midx;
						if (midsquare == second_move_data.curr
								&& move_dst == dst_square) {
							legal_move = move;
						}
					}
				}
				moving_piece_src_square = not_moving;
				second_move_data.is_second_move = false;
				if (legal_move != 0xFFFFFFFF) {
					move_buffer_array[move_buffer_len] = legal_move;
					zig_client.makeMoves(
							move_buffer_ptr + (move_buffer_len*4),
							1);
					move_buffer_len += 1;

					sendMove(legal_move);
					updateShownMoveList();
				}
				setupBoard();
				return;
			}
			if (moving_piece_src_square != not_moving) {
				let rect = the_epic_container.getBoundingClientRect();
				let xRelative = event.clientX - rect.x;
				let yRelative = event.clientY - rect.y;
				let squareSize = window.innerWidth*0.5 / 36;
				let x = Math.floor(xRelative/squareSize);
				let y = Math.floor(yRelative/squareSize);
				if (side == "gote") {
					x = 35 - x;
					y = 35 - y;
				}
				const dst_square = 36*y + x;

				let part_of_two_moves = [];

				let legal_move_buffer_array = new Uint32Array(
					zig_client.memory.buffer,
					legal_move_buffer_ptr,
					8000);
				let found = false;
				for (let i = 0; i < legal_move_buffer_len; i++) {
					let move = legal_move_buffer_array[i];
					const move_dst = (move >> 12) & 0b111111111111;
					const is_igui_mask = 0b1 << 24;
					if (move & is_igui_mask) {
						// if move has igui targetting 
						// dst square, second move is possible
						const x = ((move >> 25) & 0b11) - 1;
						const y = ((move >> 27) & 0b11) - 1;
						const move_x = Math.floor(move_dst % 36);
						const move_y = Math.floor(move_dst / 36);

						const midx = move_x + x;
						const midy = move_y + y;

						const midsquare = midy*36 + midx;
						if (midsquare == dst_square) {
							part_of_two_moves.push(midsquare);
						}
					} else {
						if (move_dst == dst_square) {
							found = true;
						}
					}
				}
				if (part_of_two_moves.length > 0) {
					let do_second_move = true;
					if (found) {
						let make_second = confirm("Do you want to make a second move with the same piece?");
						if (!make_second) {
							do_second_move = false;
						}
					} else {
						alert("You will have to do a second move with the same piece!");
					}
					if (do_second_move) {
						second_move_data.is_second_move = true;
						second_move_data.from = moving_piece_src_square;
						second_move_data.curr = dst_square;
						moving_piece_src_square = not_moving;

						let zig_board_array = new Uint16Array(
								zig_client.memory.buffer, zig_board_array_ptr, 36*36);
						const index = moving_piece_src_square;
						const type = zig_board_array[index] & 0b11111111111111;
						const piece = pieces[type];
						const vertical_kanji = unicodeSplit(piece.kanji).join("\n");
						let piece_side = "sente";
						if (zig_board_array[index] & (1 << 15)) {
							piece_side = "gote";
						}
						static_pieces.push({
							side: piece_side,
							name: vertical_kanji,
							x: Math.floor(xRelative/squareSize),
							y: Math.floor(yRelative/squareSize),
							promoted: (zig_board_array[index] & (1 << 14)) > 0,
						});
						static_pieces = [...static_pieces];
						return;
					}
				}
				if (found /*&& dst_square != moving_piece_src_square &&
						!(x < 0 || x > 35 || y < 0 || y > 35)*/) {
					const move = (dst_square << 12) | moving_piece_src_square;
					move_buffer_array[move_buffer_len] = move;
					zig_client.makeMoves(
							move_buffer_ptr + (move_buffer_len*4),
							1);
					move_buffer_len += 1;

					sendMove(move);
					updateShownMoveList();
				}

				moving_piece_src_square = not_moving;
				setupBoard();
			}
		});
		window.requestAnimationFrame(plsWork);
		document.addEventListener("mousemove", (event) => {
			mouse_x = event.clientX
			mouse_y = event.clientY
		});
		chat_box_node.addEventListener("keydown", async (event) => {
			if (event.key == "Enter") {
				await sendMessage(chat_box_node.value);
				chat_box_node.value = "";
			}
		});
		for (let i = 0; i < squares.length; i++) {
			squares[i].addEventListener("contextmenu", (event) => {
				event.preventDefault();
			});
		}
		fetch("/lib/main.wasm").then(async (data) => {
			zig_client = await initWasm(new Uint8Array(await data.arrayBuffer()), {
			});
			{
				const ptr = zig_client.getPieceJsonPtr();
				const len = zig_client.getPieceJsonLen();
				const array = zigByteSliceToBuffer(ptr, len);
				const decoder = new TextDecoder();
				const decoded = decoder.decode(array);
				pieces = JSON.parse(decoded);
				console.log(pieces);
			}

			// dbg
			findPieceIndex("Lion hawk");

			legal_move_buffer_ptr = zig_client.allocateMoveBuffer(0);
			move_buffer_ptr = zig_client.allocateMoveBuffer(move_buffer_alloc_len);

			zig_board_array_ptr = zig_client.setGame(0, 0);

			setupBoard();

			let fetch_interval = setInterval(async () => {
				if (destroy_data.is_destroyed) {
					clearInterval(fetch_interval);
				}
				fetchDynamicContent();
			}, 450);
			fetchDynamicContent();
		});
	});

	onDestroy(() => {
		destroy_data.is_destroyed = true;
	});

	function findPieceIndex(str: string) {
		for (let i = 0; i < pieces.length; i++) {
			if (pieces[i].name == str) {
				console.log(str + ":", i);
			}
		}
	}

	function isValidHttpUrl(string: string) {
	  let url;
	  
	  try {
		url = new URL(string);
	  } catch (_) {
		return false;  
	  }

	  return url.protocol === "http:" || url.protocol === "https:";
	}

	async function fetchDynamicContent() {
		const send_data = {
			type: "getDynamicData",
			object: {
				next_move: move_buffer_len,
				next_chat,
			},
		};
		let object = await (await fetch(location.pathname, {
			method: "POST",
			headers: {
			  "Content-Type": "application/json",
			},
			body: JSON.stringify(send_data),
		})).json();
		for (let i = 0; i < object.chats.length; i++) {
			if (object.chats[i].id+1 > next_chat) {
				next_chat = object.chats[i].id+1;
			}
			// so that another fetchDynamicContent
			// cant have already pushed it
			let can_push = true;
			for (let j = 0; j < chats.length; j++) {
				if (object.chats[i].id == chats[j].id) {
					can_push = false;
					break;
				}
			}
			if (can_push) {
				if (isValidHttpUrl(object.chats[i].str)) {
					switch (object.chats[i].str.split(".").pop()) {
					case "gif":
					case "png":
					case "jpg":
						object.chats[i].type = "image";
						break;
					case "webm":
					case "mp4":
						object.chats[i].type = "video";
						break;
					default:
						break;
					}
				} else {
					object.chats[i].type = "text";
				}
				chats.push(object.chats[i]);
			}
		}
		if (object.chats.length != 0) {
			chats = [...chats];
			setTimeout(() => {
				chat_area.scrollTo(0, chat_area.scrollHeight);
			}, 100);
		}

		if (object.moves.length > 0) {
			ensureNewestMove();
			let move_buffer_array = new Uint32Array(
					zig_client.memory.buffer,
					move_buffer_ptr,
					move_buffer_alloc_len);
			// TODO: dont do 1 at a time
			let start = move_buffer_len;
			if (start != send_data.object.next_move) {
				return;
			}
			let count = 0;
			for (let i = 0; i < object.moves.length; i++) {
				move_buffer_array[move_buffer_len] = object.moves[i];
				move_buffer_len += 1;
				count += 1;
			}
			zig_client.makeMoves(
					move_buffer_ptr + (start*4),
					count);
			setupBoard();
			updateShownMoveList();
			timedata.lastMoveAt = new Date(object.lastMoveAt);
			timedata.goteTime = object.goteTime;
			timedata.senteTime = object.senteTime;
		}
	}

	async function sendMessage(str: string) {
		if (str == "") {
			return;
		}
		const send_data = {
			type: "sendMsg",
			object: {
				str: str,
			},
		};
		await fetch(location.pathname, {
			method: "POST",
			headers: {
			  "Content-Type": "application/json",
			},
			body: JSON.stringify(send_data),
		});
		setTimeout(() => {
			chat_area.scrollTo(0, chat_area.scrollHeight);
		}, 100);
	}
	// validate before!
	async function sendMove(move: number) {
		// update time
		let yourTime, enemyTime;
		if (side == "gote") {
			yourTime = timedata.goteTime;
			enemyTime = timedata.senteTime;
		} else {
			yourTime = timedata.senteTime;
			enemyTime = timedata.goteTime;
		}
		if ((move_buffer_len-1) >= 2) { // start subtracting time
			//  @ts-ignore
			let subtract = (new Date() - timedata.lastMoveAt) / 1000;
			if (side == "gote") {
				timedata.goteTime -= subtract;
				timedata.goteTime += data.incrementInSeconds;
			} else {
				timedata.senteTime -= subtract;
				timedata.senteTime += data.incrementInSeconds;
			}
		}
		timedata.lastMoveAt = new Date();

		const send_data = {
			type: "sendMove",
			object: {
				move,
			},
		};
		await fetch(location.pathname, {
			method: "POST",
			headers: {
			  "Content-Type": "application/json",
			},
			body: JSON.stringify(send_data),
		});
	}
</script>

<style>
	* {
		--panelWidth: 20vw;
	}
	#chatBox input {
		background-color: unset;
		border: unset;
		outline: unset;
		color: var(--themeTextColor);
		width: 98%;
		border-radius: 8px;
	}
	#left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	#chatBox {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		width: 100%;
		height: 2em;
		background-color: var(--themeBackgroundColor);
		border-top: 2px solid var(--themeSurfaceColorHover);
		display: flex;
		justify-content: center;
	}
	.panel hr {
		padding: none;
		margin: none;
		border: 0;
		border-bottom: 0.1px solid var(--themeSurfaceColorHover);
		margin-left: 1em;
		margin-right: 1em;
	}
	#names p {
		display: inline;
		margin-left: 0.2em;
	}
	#names div {
		display: inline-block;
	}
	#names {
		margin-left: 1em;
		margin-top: 1em;
	}
	.blackCircle {
		width: 0.5em;
		height: 0.5em;
		border: 3px solid black;
		border-radius: 50%;
	}
	.whiteCircle {
		width: 0.5em;
		height: 0.5em;
		border: 3px solid white;
		border-radius: 50%;
	}

	p {
		color: var(--themeTextColor);
	}
	#left {
		width: var(--panelWidth);
		height: 60vh;
	}
	#right {
		width: var(--panelWidth);
		height: 35vh;
		margin-top: calc(50vw/2);
		transform: translate(0, -50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
	}
	#space {
		margin: auto;
		margin-top: 0.5em;
		/*margin-left: 10vw;
		margin-right: 10vw;*/
	}
	#mainContainer {
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 20px;
	}
	#boardContainerContainer {
		--squareSize: calc(50vw/36);
	}
	#boardContainer {
		display: grid;
		width: 50vw;
		height: 50vw;
		grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
		grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
		border: 1px solid black;
	}
	.panel {
		background-color: var(--themeSurfaceColor);
		border-radius: 8px;
		border: 2px solid var(--themeSurfaceColorHover);
	}
	.square {
		border: 1px solid black;
		background-image: url("/boards/wood.png");
	}
	#chatArea {
		flex: 1;
		font-size: 0.9rem;
		margin-top: 0.2rem;
		overflow-y: auto;
	}
	.chatMessage {
		margin-left: 1rem;
	}
	.usernameChatMsg {
		font-weight: bold;
	}
	#chatArea p {
		display: inline;
	}
	.piece {
		border: unset;
		background: unset;
		position: absolute;
		left: calc(var(--x-pos) * var(--squareSize));
		top: calc(var(--y-pos) * var(--squareSize));
		width: var(--squareSize);
		height: var(--squareSize);
		background-image: url("/piece1.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: calc(var(--squareSize)/7.5) calc(var(--squareSize)/20);
		cursor: grab;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.piece.gote {
		background-image: url("/piece2.svg");
	}
	.piece > p {
		user-select: none;
		padding-bottom: calc(var(--squareSize)/10);
		font-size: calc(var(--squareSize)/4);
		text-align: center;
		color: black; /*var(--themeBackground);*/
		/*font-weight: bold;*/
		white-space: pre-line;
	}
	#staticPiecesContainer {
		position: absolute;
	}
	button > p {
		pointer-events: none;
	}
	.dynamicPiece {
		position: fixed;
		left: 0px;
		top: 0px;
	}
	#moveContainer {
		height: 22vh;
		overflow-y: auto;
		display: grid;
		grid-template-columns: auto auto auto;
	}
	#moveContainer * {
		user-select: none;
	}
	.theMove :hover {
		background-color: var(--themeSurfaceColorHover);
		cursor: pointer;
	}
	.moveNumber {
		margin-left: 1em;
	}
	#moveContainer p {
		padding: 0;
		margin: 0;
	}
	/*
	.panel h2 {
		color: var(--themeDefaultWhite);
	}
	*/
	* {
		scroll-behavior: smooth;
	}
	.highlightedLegalMove {
		border: unset;
		background: unset;
		position: absolute;
		left: calc(var(--x-pos) * var(--squareSize));
		top: calc(var(--y-pos) * var(--squareSize));
		width: var(--squareSize);
		height: var(--squareSize);
		margin: 1px;
	}
	.highlightedLegalMove div {
		width: calc(var(--squareSize)/2);
		height: calc(var(--squareSize)/2);
		background-color: var(--themeMoveIndicator);
		border-radius: 100% 100%;
		transform: translate(50%, 50%);
	}
	#legalMoveContainer {
		position: relative;
	}
	.promotedPiece p {
		color: var(--themeTertiaryColor);
	}
	.timeContainer p {
		font-family: Roboto;
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: 6vh;
		color: var(--themeBackgroundColor);
	}
	.timeContainer.yourMove {
		background-color: var(--themeMoveIndicator);
	}
	.timeContainer.noTime {
		background-color: var(--themeTertiaryColor);
	}
	#gameOverMessage {
		margin-left: 1em;
	}
	#winEffects {
		position: absolute;
		left: 0;
		top: 0;
		width: 20vw;
		height: 10vh;
		z-index: 100000000;
	}
	.explosionContainer.winnerabove {
		left: 50vw;
		top: 10vw;
	}
	.explosionContainer.winnerbelow {
		left: 50vw;
		top: calc(50vw - 15vw);
	}
	.explosionContainer {
		position: absolute;
		transform: translate(-50%, 0);
		width: 20vw;
	}
	.explosionContainer video {
		width: 20vw;
	}
	.explosionContainer button {
		z-index: 200000000;
		position: absolute;
		top: 0;
		right: 0;
	}
	#pieceNameContainer {
		position: absolute;
		transform: translate(-50%, -50%);
	}
	#pieceNameContainer, #pieceNameContainer * {
		pointer-events: none;
		user-select: none;
	}
	#pieceNameContainer p {
		color: var(--themeArrowAlternate);
		padding: 0;
		margin: 0;
		font-size: 2rem;
		font-weight: bold;
		  -webkit-text-stroke: 1px black;
	}
</style>
